.markdown {
  width: 100vw;
  display: grid;
  place-items: center;
  margin: 1rem auto;
  padding: 0 .5rem;
  resize: none;
  box-sizing: border-box;
  border: 0;
  outline:none
}
.editIcon {
  cursor : pointer;
  border-radius: 50%;
  padding: 7px 10px;
  transition: background-color ease-in-out 100ms;
}
.editIcon:hover{
  background-color: azure;
}
.title{
  width: 100vw;
  font-size: 1.5rem;
  font-weight: 600;
  display: grid;
  place-items: center;
  margin: 1rem auto;
  margin: 0 -1rem;
  padding:.2rem .5rem;
  resize: none;
  box-sizing: border-box;
  border: 0;
  outline:none
}



