.modal-wrapper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  background: rgb(1, 0, 17);
  background: linear-gradient(
    90deg,
    rgba(1, 0, 17, 1) 5%,
    rgba(1, 5, 33, 1) 35%,
    rgba(1, 8, 38, 1) 100%
  );

  .modal-buttons-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    min-width: 300px;

    .ms-modal-buttons-container {
      margin: 7px 9px 10px 0;
      padding: 10px 15px;
      border-radius: 50%;
      color: white;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  &::backdrop {
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
